<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sample</title>
	<link rel="stylesheet" href="as.css">
</head>
<body bgcolor="grey" >
	Noun:<br>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/nf';">Inflection Form</button>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/ns';">Specific Form</button><br><br>
	Pronoun:<br>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/pf';">Inflection Form</button>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/ps';">Specific Form</button><br><br>
	Verb:<br>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/vf';">Inflection Form</button>
	<button id="btn" class = "button" align = "center" onclick="window.location.href = 'http://127.0.0.1:5000/vs';">Specific Form</button>
</body>
</html>