<!DOCTYPE html>
<html>
<head>
	<title>Noun Inflection</title>
</head>
<body bgcolor="grey">
<br><br><br>
<table border="border" align="center">
	<tr>
		<td rowspan="2">ವಿಭಕ್ತಿ</td>
		<td colspan="2">ವಚನ</td>
	</tr>
	<tr>
		<td>ಏಕವಚನ</td>
		<td>ಬಹುವಚನ</td>
	</tr>
	<tr>
		<td>ಪ್ರಥಮ<br>(Nominative)</td>
		<td>{{ nam }}</td>
		<td>{{ nam }} </td>
	</tr>
	<tr>
		<td>ದ್ವಿತೀಯ<br>(Accusative)</td>
		<td>{{ nam }}</td>
		<td>{{ nam }} </td>
	</tr>
	<tr>
		<td>ತೃತೀಯ<br>(Instrumental)</td>
		<td>{{ nam }}</td>
		<td>{{ nam }} </td>
	</tr>
	<tr>
		<td>ಚತುರ್ಥಿ<br>(Dative)</td>
		<td>{{ nam }}</td>
		<td>{{ nam }} </td>
	</tr>
	<tr>
		<td>ಪಂಚಮಿ<br>(Ablative)</td>
		<td>{{ nam }}</td>
		<td>{{ nam }} </td>
	</tr>
	<tr>
		<td>ಷಷ್ಠಿ<br>(Genitive)</td>
		<td>{{ nam }}</td>
		<td>{{ nam }} </td>
	</tr>
	<tr>
		<td>ಸಪ್ತಮಿ<br>(Locative)</td>
		<td>{{ nam }}</td>
		<td>{{ nam }} </td>
	</tr>
</table>
</body>
</html>